{% extends 'base.html.twig' %}

{% block title %}Objednávkový formulář{% endblock %}

{% block body %}
    <div class="container" >
        <div class="row">
            <div class="col-8">
                {{ form_start(form) }}
                <h5> Osobní údaje </h5>
                Jméno:
                {{ form_widget(form.name)}}
                Příjmení:
                {{ form_widget(form.surname)}}<br>
                Ulice:
                {{ form_widget(form.street)}}
                Číslo popisné:
                {{ form_widget(form.streetNumber)}}<br>
                Město:
                {{ form_widget(form.city)}}
                PSČ:
                {{ form_widget(form.zipCode)}}
                <i>PSČ zadávejte bez mezer.</i><br>
                Stát:
                {{ form_widget(form.country)}}<br>
                E-mailová adresa:
                {{ form_widget(form.email)}}
                Telefonní číslo:
                {{ form_widget(form.phone)}}
                <hr>
                <h5> Dodání </h5>
                Způsob dodání/převzetí:
                {{ form_widget(form.shipping)}}<br>
                Způsob platby:
                {{ form_widget(form.payment)}}<br>
                Poznámka:
                {{ form_widget(form.note)}}
                <button class="btn">{{ button_label|default('Objednat!') }}</button>
                {{ form_end(form) }}
            </div>
            <h4>Rekapitulace nákupu</h4>
            <div>
               Cena zboží: <span id="productPrice" {#productPrice = "{{ order.product.price }}"#} >
                </span> Kč
            </div>
            <br>
            <div>
                Cena dopravy:
                <span id="shipping"> </span> Kč
            </div>
            <br>
            <div>
                Cena platby:
                <span id="payment"> </span> Kč
            </div>
            <br>
            <div>
                <b>Celková cena objednávky:
                    <span id="totalPrice"> </span> Kč</b>
            </div> <hr>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script>

         $(document).ready(function(e){
             shippingPrice = $('#order_shipping option:selected').attr('data-price');
             $('#shipping').text(shippingPrice);


             paymentPrice = $('#order_payment option:selected').attr('data-price');
             $('#payment').text(paymentPrice);


             productPrice = $('#order_product option:selected').text();
             $('#product').text(productPrice);


             let shippingPrice = $('#shipping').text();
             let paymentPrice = $('#payment').text();
             let productsPrice = $('#productPrice').text();
             let totalPrice = parseInt(shippingPrice) + parseInt(paymentPrice) + parseInt(productsPrice);
             $('#totalPrice').text(totalPrice);
         })





     </script>
 {% endblock %}
