{% extends 'base.html.twig' %}

{% block title %}Košík{% endblock %}

{% block body %}
<form id="basket_form" name="basket" action="/187782037/e-finish" method="post" enctype="multipart/form-data">
    <table class="cart" width="100%">
        <thead>
        <tr>
            <th class="order-product-image-header" width="110">
                <div align="left"></div>
            </th>
            <th width="48%" class="center order_box_text_header">
                <div align="left">Název</div>
            </th>
            <th width="10%" class="center order_row_count_header">
                Množství            </th>
            <th width="18%" class="center prices-extra-unit-header">
                <div align="right">Cena              </div>
            </th>
            <th width="18%" class="center prices-header prices-final-header">
                <div align="right">Celkem                              </div>
            </th>
            <th width="3%" class="center basket-remove-item-header">
            </th>
        </tr>
        </thead>
        <tbody>

        {% set totalPrice = 0 %}
        {% for product in basket%}
        <tr class="basket-product-main-info" data-name="" data-id="" data-price="" data-qty="" >
           <td class="order-product-image">
                <img class="product_img" src="{{ product.image }}" width="100" border="0" alt="{{ product.name }}" title="{{ product.name }}">
            </td>
            <td height="25" class="box_text line-add-note">
                <a href="{{ path('product_detail', {'id': product.id}) }}">{{product.name}}</a>
            </td>
            <td height="25" class="row_count">
                <input class="items_count product-pcs-spinner" value={{product.quantity|default('1') }} name="quantity" maxlength="6" size="6" type="text">
                <span class="basket-item-unit"> ks</span>
            </td>
            <td height="25" class="prices prices-extra-unit" align="right">
              <span class="price-novat">
                <span class="price-value">
                  {{product.price|number_format(2, ',', ' ')}} &nbsp;Kč </span>
              </span>
            </td>
            <td height="25" class="prices prices-final" align="right">
              <span class="price-vat">
                <span class="price-value def_color">
                  {{ (product.price|number_format * product.quantity|default('1'))|number_format(2, ',', ' ') }} &nbsp;Kč
                    {% set totalPrice = totalPrice + product.price*product.quantity %}
                </span>
              </span>
            </td>
            <td height="25" class="basket-remove-item" align="center">
              <span class="nadpis bold">
                <a href="{{path('basketbasket_delete', {'id': product.id}) }}" class="btn btn-outline-">X</a>
              </span>            </td>
        </tr>

       {% else %}
            <tr>
                <td colspan="17">Váš košík je prázdný.</td>
            </tr>
        {% endfor %}

        <tr valign="top" class="total">
            <td class="price-desc left" colspan="2">
                <br>
                CELKEM          </td>
            <td colspan="4" class="prices">
            <span class="price-vat">
              <span class="price-value def_color">
                <span id="fullprice">
                  <span class="price_small">{{ totalPrice|number_format(2, ',', ' ') }}&nbsp;Kč</span>
                  <br>
                                      {#  <span class="wrapper-tax-payer">
                                          </span>
                                        <br>
                                            <span class="wrapper-recalc-btn">
                                                  <input type="submit" id="submit_recalc" value="Přepočítat" name="recalc">
                                                </span>#}
                                        </span>
              </span>
                <a href="{{ path('order_form') }}" class="btn btn-success">Pokračovat v objednávce</a>
            </span>
            </td>
        </tr>


        </tbody>

       </table>
{% endblock %}