{% extends 'base.html.twig' %}

{% block title %}{{product.Name}}{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ product.Image }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{product.Name}}</h3>
                    <p class="card-text"> Cena: {{product.Price}} Kč</p>
                    <p class="card-text"> Skladem: {{product.Stock}} ks</p>
                    <p class="card-text"> {{product.Description}} </p>
                    <a href="{{ path('order_form', {'id': product.id}) }}" class="btn btn-success">Objednat</a>
                </div>
            </div>
        </div>
    </div>





    <a href="{{ path('product_list_index') }}">Zpět k produktům</a>



{% endblock %}
